#### Problem Statement 1:
Is gender independent of education level? A random sample of 395 people were
surveyed and each person was asked to report the highest education level they
obtained. The data that resulted from the survey is summarized in the following table:
High School Bachelors Masters Ph.d. Total
Female 60 54 46 41 201
Male 40 44 53 57 194
Total 100 98 99 98 395
Question: Are gender and education level dependent at 5% level of significance? In
other words, given the data collected above, is there a relationship between the gender
of an individual and the level of education that they have obtained?

In [33]:
# importing the libraries
import numpy as np
import pandas as pd
import scipy.stats as stats
import sys

In [34]:
qual = ['High School','Bachelors','Masters','PHD']     
f = [60,54,46,41]                                         
m = [40,44,53,57]                                      
df=pd.DataFrame({'Qualification':qual,'No_of_F': f ,'No_Of_M': m})
df

  Qualification  No_of_F  No_Of_M
0   High School       60       40
1     Bachelors       54       44
2       Masters       46       53
3           PHD       41       57

In [35]:
df['Mean_F']=df['No_of_F'].mean()
df['Mean_M']=df['No_Of_M'].mean()

df['Std_Dev_F']=df['No_of_F'].std()
df['Std_Dev_M']=df['No_Of_M'].std()

df['Z_F']=stats.zscore(df['No_of_F'])
df['Z_M']=stats.zscore(df['No_Of_M'])

df['p_F']=[stats.norm.cdf(pval) for pval in stats.zscore(df['No_of_F'])]
df['p_M']=[stats.norm.cdf(pval) for pval in stats.zscore(df['No_Of_M'])]
df

,Qualification,No_of_F,No_Of_M,Mean_F,Mean_M,Std_Dev_F,Std_Dev_M,Z_F,Z_M,p_F,p_M
0,High School,60,40,50.25,48.5,8.421203,7.852813,1.336903,-1.249865,0.909373,0.105674
1,Bachelors,54,44,50.25,48.5,8.421203,7.852813,0.514193,-0.661693,0.696442,0.254084
2,Masters,46,53,50.25,48.5,8.421203,7.852813,-0.582752,0.661693,0.280030,0.745916
3,PHD,41,57,50.25,48.5,8.421203,7.852813,-1.268344,1.249865,0.102338,0.894326

##### Observations:
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>
i) From the above observations using the above dataframe pvalue of Male and Female is more than 5% (significance level), there is a relationship <br>between the gender of an individual and the level of education that they have obtained.<br>

ii) For High School and Bacelors, females outnumber males.

iii)However, for higher education levels, like Masters and PhD, males outnumber females

#### Problem Statement 2:
Using the following data, perform a oneway analysis of variance using Î±=.05. Write up
the results in APA format.

[Group1: 51, 45, 33, 45, 67]<br>
[Group2: 23, 43, 23, 43, 45]<br>
[Group3: 56, 76, 74, 87, 56]<br>

In [36]:
grp1 = [51, 45, 33, 45, 67]   
grp2 = [23, 43, 23, 43, 45]   
grp3 = [56, 76, 74, 87, 56]   

df_grp=pd.DataFrame({'Grp1':grp1,'Grp2': grp2 ,'Grp3': grp3})
df_grp

   Grp1  Grp2  Grp3
0    51    23    56
1    45    43    76
2    33    23    74
3    45    43    87
4    67    45    56

In [37]:
# One-way analysis
statistic, pvalue = stats.f_oneway(grp1,grp2,grp3)

# Significance level
Î± = 0.05   

print("F Statistic value {} , p-value {}".format(statistic,pvalue))

F Statistic value 9.747205503009463 , p-value 0.0030597541434430556

##### Conclusion
The test result suggests the groups don't have the same sample means in this case, <br>
as the p-value returned is 0.00305 which is < 0.05

#### Problem Statement 3:
Calculate F Test for given 10, 20, 30, 40, 50 and 5,10,15, 20, 25.<br>
For 10, 20, 30, 40, 50:

In [38]:
stats.f_oneway([10, 20, 30, 40, 50],[5,10,15, 20, 25])

F_onewayResult(statistic=3.6, pvalue=0.0943497728424377)

In [39]:
group1 = [10,20,30,40,50]
group2 = [5,10,15, 20, 25]

df_group=pd.DataFrame({'group1':group1,'group2': group2})

df_group['Mean_group1']=df_group['group1'].mean()
df_group['Mean_group2']=df_group['group2'].mean()

df_group['Std_Dev_group1']=df_group['group1'].std()
df_group['Std_Dev_group2']=df_group['group2'].std()

df_group['Var_group1']=df_group['group1'].var()
df_group['Var_group2']=df_group['group2'].var()

F_Val=df_group['group1'].var()/df_group['group2'].var()

print('F Test Results:\t\t',F_Val)

F Test Results:		 4.0